.container {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-color: lightblue;
  height: 565px;
}
@media only screen and (max-width: 767px) {
  .container {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: lightblue;
    height: 150px;
  }
  .back {
    height: 25px;
  }
  .heading1 {
    padding-top: 20px;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 900;
  }
  .heading2 {
    padding-top: 18px;
    font-size: 10px;
  }
}
.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.b {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: lightgreen;
  height: 63vh;
  width: 60vh;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
}
@media only screen and (max-width: 767px) {
  .b {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: lightgreen;
    height: 65vh;
    width: 350px;
    margin-left: 5px;
    text-align: center;
    padding-top: 25px;
  }
}

.c {
  color: black;
  border-width: 5px;
}
.d {
  height: 155px;
  width: 250px;
}
.e {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.f {
  height: 90px;
  width: 90px;
}

.heading {
  font-size: 25px;
  font-weight: bold;
}
