.nav-header {
  display: flex;
  justify-content: space-around;
  background-color: red;
  height: 65px;
}
@media only screen and (max-width: 40em) {
  .nav-header {
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    height: 65px;
  }
  .icon-image {
    height: 25px;
    width: 20px;
  }
}
.icon-image {
  height: 45px;
  width: 45px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: row;
    width: 100%;
    padding-right: 15px;
  }
}
